@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Karla', sans-serif;
}

:root {
    --bgcolor : #1c1c1c;
}

body {
    background-color: white;
}

.link-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90vw;
    margin: 40px auto;
}

.link-tree img {
    width: 150px;
    height: 150px;
    border-radius: 15%;
    border: 4px solid var(--bgcolor);
}

.link-tree h2 {
    font-size: 2.25rem;
    color: var(--bgcolor);
}

.link-tree h4 {
    font-size: 1.2rem;
    color: var(--bgcolor);
}

.link-tree a {
    background-color: darkgrey;
    color: var(--bgcolor);
    width: 50%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
}

.link-tree a:hover {
    background-color: gray;
}

.link-tree button {
    color: darkgrey;
    background: var(--bgcolor);
    height: 22px;
    width: 90px;
    border-radius: 5px;
    position: absolute;
    top: 860px;
    bottom: 100px;
}

@media (min-width: 1024px) {
    .link-tree {
        width: 50vw;
    }
}